/* Styling for the strings: Cascading Style Sheet */

/* page-font */
body {

  /* creating the blue-bound note-book horror-scape */
  background: url("Blue-rule.png");

  /* using the most hated font ever created, because why not */
  font: 16px "Comic Sans MS", cursive;
}

#first {
  font-style: italic;
}

#first, #second {
  color: #00f;
}

#first::before, #second::before {
  content: url("Yellow-pin.png");
}

/* initial letters */
strong {
  color: #f00;
  font-size: 2em;
  /* background-color: #ddf; */
} 

.spinach {
  color: #080;
}

/*
.carrot { 
  color: orange;
}
*/

