// stylus variables
thin-black-border = 1px solid black
default-padding = 5px

body
    font: 24px Helvetica
    background: #999999

#main
    min-height: 200px
    display: flex
    flex-flow: row

    nav
        padding: default-padding
        border: thin-black-border
        background: #ccccff
        flex: 1 6 20%
        order: 1    
        text-align: right

    article
        padding: default-padding 
        border: thin-black-border
        background: #dddd88
        flex: 3 1 60%
        order: 2

    aside
        padding: 5px
        border: thin-black-border
        background: #ccccff
        flex: 1 6 20%
        order: 3

header, footer
    display: block
    padding: 5px
    min-height: 100px
    border: thin-black-border
    background: #ffeebb

// differentiating the header and footer fonts
header 
    font: 36px Comic Sans MS
footer
    font: 16px Times New Romans
    font-style: italic
    
    // uncoloring the hyper-link in the footer
    a
        color:black

// Too narrow to support three columns
// also known as the mobile-friendly view
@media all and (max-width: 640px)
    #main, #page
        flex-direction: column

    // Return them to document order
    #main
        article, aside
            order: 0 

    // Make all the non-article sections super small on mobile
    #main > nav, #main > aside, header, footer
        min-height: 50px
        max-height: 50px

    // Reposition the nav-links on mobile
    // and set the nav-links text to be left-aligned
    #main > nav
        order: -2
        text-align: left 
    

/*TODO:  NEED TO vary fonts and come up with better text... double check instructions, comment?*/
